<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Code</th>
            <th>Temperature</th>
            <th>Wind Speed</th>
            <th>Wind Direction</th>
            <th>Pressure</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each station.readings}}
        <tr>
            <td>
                {{code}}
            </td>
            <td>
                {{temp}}
            </td>
            <td>
                {{wSpeed}}
            </td>
            <td>
                {{wDir}}
            </td>
            <td>
                {{pressure}}
            </td>
            <td>
                 <a href="/station/{{../station._id}}/deletereading/{{_id}}" class="button">
                 {{>icons/delete}}
            </td>
        </tr>
    </tbody>
        {{/each}}
</table>