<div class="columns">
  <div class="tile is-parent">
    <article class="tile is-child box has-background-grey-darker">
        <p class="title has-text-white">
            {{station.title}}
        </p>
        <div class="is-pulled-right">
            {{>icons/location}} 
        </div>
        <h3 class="has-text-white"> 
            {{station.latitude}}<br>
            {{station.longitude}}
        </h3>
    </article>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box has-background-grey-darker">
        <p class="title has-text-white">
            Weather
        </p>
        <div class="is-pulled-right">  
            <span class="icon has-text-danger">
                <i class="{{latestWeather.wIcon}}"></i>  
            </span> 
        </div>
        <h3 class="has-text-white"> {{latestWeather.wCode}}</h3>    
    </div>
   </div> 
   <div class="tile is-parent">
    <div class="tile is-child box has-background-grey-darker">
        <p class="title has-text-white">
            Temp
        </p>
        <div class="is-pulled-right">
            {{>icons/temperature}} 
        </div>
        <h3 class="has-text-white">
            {{latestWeather.temp}} C<br>
            {{latestWeather.fTemp}} F<br>
            Max: {{maxTemp}} C<br>            
            Min: {{minTemp}} C
        </h3>    
    </div>
   </div> 
    <div class="tile is-parent">
    <div class="tile is-child box has-background-grey-darker">
        <p class="title has-text-white">
            Wind
        </p>
        <p class="is-pulled-right">
            {{>icons/wind}} 
        </p>
        <h3 class="has-text-white">{{latestWeather.bFort}} bft</h3>
        <h3 class="has-text-white"> {{latestWeather.wCompass}}</h3>  
        <h3 class="has-text-white">Feels like: {{latestWeather.windChill}} C</h3>
        <h3 class="has-text-white">  
            Max: {{maxWSpeed}} <br>            
            Min: {{minWSpeed}}   
        </h3>           
    </div>
   </div> 
       <div class="tile is-parent">
    <div class="tile is-child box has-background-grey-darker">
        <p class="title has-text-white">
            Pressure
        </p>
        <p class="is-pulled-right">
            {{>icons/pressure}} 
        </p>
        <h3 class="has-text-white">{{latestWeather.pressure}} hpa</h3>   
        <h3 class="has-text-white">  
            Max: {{maxPressure}} <br>            
            Min: {{minPressure}}   
        </h3>          
    </div>
   </div> 
</div>